{% block _entrepids_braintree_credit_card_save_for_later_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block entrepids_braintree_settings_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    <fieldset class="form-horizontal">
        <h5 class="user-fieldset">
            <span>{{ 'entrepids.braintree.settings.form.groups.display_options.title'|trans }}</span>
        </h5>
        <div class="control-group control-group-choice">
            <div class="control-label wrap">
                {{ UI.tooltip('entrepids.braintree.settings.label.tooltip', {}, 'right') }}
                {{ form_label(form.braintreeLabel) }}
            </div>
            <div class="controls">
                {{ form_widget(form.braintreeLabel) }}
            </div>
        </div>
        <div class="control-group control-group-choice">
            <div class="control-label wrap">
                {{ UI.tooltip('entrepids.braintree.settings.short_label.tooltip', {}, 'right') }}
                {{ form_label(form.braintreeShortLabel) }}
            </div>
            <div class="controls">
                {{ form_widget(form.braintreeShortLabel) }}
            </div>
        </div>
        {{ form_row(form.allowedCreditCardTypes) }}
    </fieldset>
    <fieldset class="form-horizontal">
        <h5 class="user-fieldset">
            <span>{{ 'entrepids.braintree.settings.form.groups.advanced_settings.title'|trans }}</span>
        </h5>
        {{ form_row(form.braintreePaymentAction) }}
        {{ form_row(form.braintreeEnvironmentType) }}
    </fieldset>
    <fieldset class="form-horizontal">
        <h5 class="user-fieldset">
            <span>{{ 'entrepids.braintree.settings.form.groups.connection.title'|trans }}</span>
        </h5>
        {{ form_row(form.braintreeMerchId) }}
        {{ form_row(form.braintreeMerchAccountId) }}
        {{ form_row(form.braintreeMerchPublicKey) }}
        {{ form_row(form.braintreeMerchPrivateKey) }}
        {{ form_row(form.saveForLater) }}
    </fieldset>
    <fieldset class="form-horizontal">
        <h5 class="user-fieldset">
            <span>{{ 'entrepids.braintree.settings.form.groups.other.title'|trans }}</span>
        </h5>
        {{ form_rest(form) }}
    </fieldset>
{% endblock %}
